<div>
    <div class="modal-header">
        <h3 class="modal-title">Events: </h3>
    </div>
    <form data-toggle="validator" name="formElement" ng-submit="save(formElement.$valid)">
        <div class="modal-body">
            <input type="number" ng-model="formData.event_id" class="form-control" placeholder="ID" ng-readonly="{{formData.isReadonly}}" required>
            <input type="number" ng-model="formData.event_type_id" class="form-control" placeholder="Type ID" ng-readonly="{{formData.isReadonly}}" required>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Zapisz</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>

</div>