
<div class="container" ng-controller="DataFactoryList">
    <div class="page-header">
        <h3>Notifier RestApi</h3>
    </div> 
    <div ng-repeat="d in user">
        <p>{{p.user_is}}</p>
    </div>
    <tabset>
        <tab heading="Event Types" ng-click="getData('eventTypes')" tab-include="partials/tabs/eventTypes.html"></tab>
        <tab heading="Events" ng-click="getData('events')" tab-include="partials/tabs/events.html"></tab>
        <tab heading="Users" ng-click="getData('users')" tab-include="partials/tabs/users.html"></tab>
    </tabset>

</div>
