<div class="container" ng-controller="Home">
    <div class="page-header">
        <h3>{{ name}}</h3>
    </div>

    <p class="lead">Simple rest client service: <code>Notificies</code></p>

    <div block-ui="myBlockUI">
        <button class="btn btn-primary"
                data-notification-ui 
                data-nui-title="Notifier" 
                data-nui-delay="300000"
                data-nui-html-link="Test message"
                data-nui-message><b>Hello </b><br> Angular client application<br><img src="https://angularjs.org/img/AngularJS-small.png">
        </button>
        <p>&nbsp;</p>
        <p> ... Test 1 ... </p>
        <p> ... Test 2 ... </p>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


</div>


