<!DOCTYPE html>
<html ng-app="notifier">

    <head>
        <title>Notifier</title>

        <link rel="stylesheet" type="text/css" href="css/app.css">

        <!--jQuery (JS)-->
        <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap (CSS, JS) -->
        <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
        <script type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

        <!--Angular JS * -->
        <script type="text/javascript" src="libs/angular/angular.min.js"></script>
        <script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
        
        <!-- Ui Bootstrap-->
        <script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="libs/angular-ui-bootstrap-tabs-include/lib/angular-ui-bootstrap-tabs-include.js"></script>

        
        <!-- Block UI (CSS, JS) -->
<!--        <link rel="stylesheet" href="libs/angular-block-ui/dist/angular-block-ui.min.css"/>
        <script type="text/javascript" src="libs/angular-block-ui/dist/angular-block-ui.min.js"></script>-->
        <!--<script type="text/javascript" src="libs/angular-resource/angular-resource.min.js"></script>-->
        <!--<script type="text/javascript" src="libs/angular-animate/angular-animate.min.js"></script>-->


        <!-- Application libs-->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/factory.js"></script>
        <script type="text/javascript" src="js/filters.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>

        <script type="text/javascript" src="js/auth/auth.factory.js"></script>
        <script type="text/javascript" src="js/auth/auth.controller.js"></script>
        
    </head>

    <body>
        <div ng-include="'partials/header.html'"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div ng-view></div>
                </div>
                <div class="col-lg-4" ng-include="'partials/tabs/eventTypes.html'">test</div>
            </div>
        </div>
        <div ng-include="'partials/footer.html'"></div>
    </body>

</html>
    var myBlockUI = blockUI.instances.get('myBlockUI');
    myBlockUI.start();
    $timeout(function () {
        myBlockUI.stop();
    }, 2000);