<div>
    <div class="page-header">
        <h4>Events list from:
            <code>/api/v1/evnts</code>
        </h4>
    </div>
    <p class="lead">
        <button ng-click="addItem('events')" class="btn btn-sm btn-success" value="btn-sm" type="button"><span class="glyphicon glyphicon-plus"></span> Add new</button>
    </p>

    <table class="table table-striped css-serial">
        <tr>
            <th>lp.</th>
            <th>ID</th>
            <th>Type</th>
            <th>Insert time</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="item in dataList">
            <td>&nbsp;</td>
            <td>{{item.event_id}}</td>
            <td>{{item.event_type_id}}</td>
            <td>{{item.event_date| date:'yyyy-MM-dd HH:mm' : format : timezone}}</td>
            <td>
                <div class="pull-right">
                    <button ng-click="editItem('events', item)" class="btn btn-xs btn-info" value="btn-xs" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button ng-click="delItem('events', item)" class="btn btn-xs btn-danger" value="btn-xs" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </td>
        </tr>
    </table>
</div>