<div>
    <div class="page-header">
        <h4>Users list from:
            <code>/api/v1/users</code>
        </h4>
    </div>

    <p class="lead">
        <button ng-click="addItem('users')" class="btn btn-sm btn-success" value="btn-sm" type="button"><span class="glyphicon glyphicon-plus"></span> Add new</button>
    </p>

    <table class="table table-striped css-serial">
        <tr>
            <th>lp.</th>
            <th>ID</th>
            <th>Type</th>
            <th>External ID</th>
            <th>Firstanme</th>
            <th>Lastname</th>
            <th>Login</th>
            <!--<th>Password</th>-->
            <th>UID</th> 
            <th>Insert time</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="item in dataList">
            <td>&nbsp;</td>
            <td>{{item.user_id}}</td>
            <td>{{item.user_type_id}}</td>
            <td>{{item.user_external_id}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.login}}</td>
            <td>{{item.uid}}</td>
            <!--<td>{{item.password}}</td>-->
            <td>{{ item.user_create_date | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>
                <div class="pull-right">
                    <button ng-click="editItem('users', item)" class="btn btn-xs btn-info" value="btn-xs" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button ng-click="delItem('users', item)" class="btn btn-xs btn-danger" value="btn-xs" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </td>
        </tr>
    </table>
</div>