<table class="table table-striped css-serial">
    <tr>
        <th>lp.</th>
        <th>Name</th>
        <th>Group</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat="item in dataList">
        <td>&nbsp;</td>
        <td>{{item.name}}</td>
        <td>{{item.group}}</td>
        <td>{{item.description}}</td>
        <td>
            <div class="pull-right">
                <button ng-click="editItem('userTypes', item)" class="btn btn-xs btn-info" value="btn-xs" type="button"><span class="glyphicon glyphicon-pencil"></span></button>
                <button ng-click="delItem('userTypes', item)" class="btn btn-xs btn-danger" value="btn-xs" type="button"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </td>
    </tr>
</table>
